/****************************** SSBWT STYLE VARIABLES ******************************/

 :root {
    --primaryColor: #192A7C;
    --primaryRGB: 25,42,124;
    --secondaryColor: #192A7C;
    --secondaryRGB: 25,42,124;--linkColor: #192A7C;
    --bodyColor: 0,0,0;
    --bodyOpacity: .05;
    --iconRGB: 25,42,124;
    --mastheadBkgColor: #FFFFFF;
    --mastheadColor: #192A7C;
    --mastheadHeight: 60px;
    --navigationBkgColor: #192A7C;
    --navigationColor: #FFFFFF;
    --navigationBorderColor: #FFFFFF;
    --headingColor: ##888888;
    --spendableBalanceBkgColor: #FFFFFF;
    --spendableBalancePopoutColor: #89B13E;
    --spendableBalancePopoutRGB: 137,177,62;
    --footerBkgColor: #192A7C;
    --footerColor: #FFFFFF;
  }

